<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>{{title}}</title>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<link rel='stylesheet' type='text/css' media='screen'>
</head>
<body>
<a href="/">feed</a> | <a href="/profile/{{ user_id }}">your profile</a> | <a href="/logout">logout</a>|<a href="/add_post">Create post</a>|<a href="/delete_account/{{ user_id }}">Delete Account</a>|
    <form action='/search' method="GET"><input name='query' value="@login-search user, #tag-search tag, else search title"><input type="submit" value="search"></form><br><br>
Enter comment content:<br>
<form action='/add_comment/{{ post_id }}/{{comment_id}}' method="POST" id="usrform" enctype=multipart/form-data>
    Text:<br> <textarea name="text" >your text</textarea><br>
<br>
    Image: allowed extensions are: txt, pdf, png, jpg, jpeg, gif<br> <input type="file"  name="filename" multiple><br>
</form>
<br>
<input type="submit" value="Post" form="usrform"/>
</body>
</html>