<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>inspect profile</title>
</head>
<body>
<a href="/">feed</a> | <a href="/profile/{{ Login }}">your profile</a> | <a href="/logout">logout</a>|<a href="/add_post">Create post</a>|<a href="/delete_account/{{ user_id }}">Delete Account</a>|
    <form action='/search' method="GET"><input name='query' value="@login-search user, #tag-search tag, else search title"><input type="submit" value="search"></form><br><br>
    <h2>@{{ Login }}</h2><br>

    <img src={{url_for('static', filename=Filename)}}  width="512" height="512"><br>
    {{ Description }}<br>
        <form>
        <button type="submit" formaction="/profile/edit">Edit Profile</button><br>
        </form>

    <a href="/posts/{{ Login }}">User's posts</a><br>
    <a href="/comments/{{ Login }}">User's comments</a>


</body>
</html>