<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comments of @{{ login }}</title>
</head>
<body>
<a href="/">feed</a> | <a href="/profile/{{ user_id }}">your profile</a> | <a href="/logout">logout</a>|
    <form action='/search' method="GET"><input name='query' value="@login-search user, #tag-search tag, else search title"><input type="submit" value="search"></form>|<br><br>
    Comments of @{{ login }}:<br><br>
    {% for comment in lst %}
        <a href="/thread/{{ comment.post }}/{{ comment._id }}">{{ comment.content }}<br><br></a>
    {% endfor %}
</body>
</html>